BasedOnStyle: Microsoft
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 120
BreakBeforeBraces: Allman        # opening brace on new line (Allman style)
AllowShortFunctionsOnASingleLine:
  Empty: true
  Inline: true
  Other: false
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
SpaceBeforeParens: ControlStatements
Cpp11BracedListStyle: FunctionCall
SortIncludes:
  Enabled: false
LineEnding: CRLF
